<!-- begin::Header -->
<div *ngIf="lsUsers | async as _user" class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Skills</span>
    <span class="text-muted fw-bold fs-7">Are total {{ _user.length }} skills</span>

  </h3>
  <a
    href="/master/profile/skillsetting"
    class="btn btn-primary align-self-center">
    Edit Skills

  </a>
</div>


<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <div >
    <!-- begin::Tap pane -->
    <div
    class="table align-middle gs-0 gy-5">
      <div >
        <!-- begin::Table -->
        <table
          class="
          table table-row-dashed table-row-gray-200
          align-middle
          gs-0
          gy-4
          ">
          <!-- begin::Table head -->
          <thead>
            <tr>
              <th class="p-0 w-50px"></th>
              <th class="p-0 min-w-200px"></th>
              <th class="p-0 min-w-100px"></th>
              <th class="p-0 min-w-40px"></th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody *ngFor="let skill of lsUsers | async">
            <tr>
              <th>
                <div class="symbol symbol-50px me-2">
                  <span class="symbol-label">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/3079/3079079.png"
                      class="h-50 align-self-center"
                      alt=""
                      />
                  </span>
                </div>
              </th>
              <td>
                <a 
                  href="#"
                  class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{ skill.name }}
                </a>
              </td>
              <td>
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <span *ngIf="skill.score == '4'" class="text-muted me-2 fs-7 fw-bold" 
                    >
                    Very good
                  </span>
                  <span *ngIf="skill.score == '3'" class="text-muted me-2 fs-7 fw-bold" 
                    >
                    Good
                  </span>
                  <span *ngIf="skill.score == '2'" class="text-muted me-2 fs-7 fw-bold" 
                    >
                    Medium
                  </span>
                  <span *ngIf="skill.score == '1'" class="text-muted me-2 fs-7 fw-bold" 
                    >
                    Fairly
                  </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
      </div>
      <!-- end::Table -->
    </div>
    <!-- end::Tap pane -->
  </div>
</div>
<!-- end::Body -->
