<div class="background-container">
  <img src="./assets/media/patterns/PreengamHome.jpg" alt="Background Image" class="background-image">
</div>
<h1 class="text-white">ติดต่อเรา</h1>
<h3 class="text-white" style="font-size: 24px;">สามารถติดต่อเราได้ที่นี่</h3>
<br><br><br><br><br>

<div class="card bg-white p-1 mb-2 shadow team-card">
  <div class="row">
    <div class="col-4" style="background-color: #001534;">
      <br><br>
      
      <div class="font-white" style="color: white;">
        <i class="bi bi-line fs-3x">&nbsp;&nbsp;&nbsp;</i>
        Line
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <img src="\assets\Image\LineQR.jpg" alt="LineQR" class="d-flex justify-content-center"
          style="width: 200px; height: 200px;">
      </div>
      <hr style="border-color: white;">
      <br>
      <div class="font-white" style="color: white;">
        <i class="bi bi-facebook fs-3x">&nbsp;&nbsp;&nbsp;</i>
        Facebook
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FURLPREENGAM&tabs=timeline&width=400&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=490559329913376"
          width="400" height="370" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
          allowfullscreen="true"
          allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      </div>
    </div>

    <div class="col-8">
      <br><br>
      <div class="font-white">
        <i class="fa-regular fa-building fs-3x" style="color: #001534;">&nbsp;&nbsp;&nbsp;</i>
        สำนักงาน
      </div>
      <br><br>
      <div class="d-flex justify-content-center">
        <h4 style="font-size: 18px; color: black;">
          <i class="bi bi-geo-alt-fill fs-1" style="color: #001534;">&nbsp;</i>
          12/8 หมู่ 1 ตำบลคลองหก อำเภอคลองหลวง จังหวัดปทุมธานี 12120</h4>
      </div>

      <!-- <div class="font-white" style="color: black;">
        <i class="fa-solid fa-phone fs-3x" style="color: #001534;">&nbsp;&nbsp;&nbsp;</i>
        โทรศัพท์
      </div> -->
      <div class="d-flex justify-content-center">
        <h4 style="font-size: 18px; color: black;">
          <i class="fa-solid fa-phone fs-1" style="color: #001534;">&nbsp;</i>
          โทรศัพท์  คุณปู : 081-8078550, คุณกุ้ง : 086-3546084 </h4>
      </div>
      <br>
      <div class="d-flex justify-content-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123859.94504541918!2d100.58738984335936!3d14.040330599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d78a205366465%3A0x72d31305e24648d4!2z4Lir4Lit4Lie4Lix4LiB4Lib4Lij4Li14LiH4Liy4Lih!5e0!3m2!1sth!2sth!4v1702550905838!5m2!1sth!2sth"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>




<!-- <h2 class="text-white">ติดต่อเรา</h2>
<br><br>
<div class="font-white">
  <i class="fa-regular fa-building fs-3x">&nbsp;&nbsp;&nbsp;</i>
  สำนักงาน
</div>
<br><br>
<div class="d-flex justify-content-center">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123859.94504541918!2d100.58738984335936!3d14.040330599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d78a205366465%3A0x72d31305e24648d4!2z4Lir4Lit4Lie4Lix4LiB4Lib4Lij4Li14LiH4Liy4Lih!5e0!3m2!1sth!2sth!4v1702550905838!5m2!1sth!2sth"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<br><br>
<div class="d-flex justify-content-center">
  <h4 style="font-size: 18px; color: white;">12/8 หมู่ 1 ตำบลคลองหก อำเภอคลองหลวง จังหวัดปทุมธานี 12120</h4>
</div>

<br><br>
<div class="d-flex justify-content-center">
  <h4 style="font-size: 18px; color: white;">ติดต่อได้ทุกวัน เวลา 09:00 - 18:00</h4>
</div>
<hr style="border-color: white;">
<br>
<br>

<div class="font-white">
  <i class="fa-solid fa-phone fs-3x">&nbsp;&nbsp;&nbsp;</i>
  โทรศัพท์
</div>
<br>
<div class="d-flex justify-content-center">
  <h4 style="font-size: 18px; color: white;">คุณปู : 081-8078550 </h4>
</div>
<div class="d-flex justify-content-center">
  <h4 style="font-size: 18px; color: white;">คุณกุ้ง : 086-3546084 </h4>
</div>
<hr style="border-color: white;">
<div class="font-white">
  <i class="bi bi-line fs-3x">&nbsp;&nbsp;&nbsp;</i>
  Line
</div>
<br>
<div class="d-flex justify-content-center">
<img src="\assets\Image\LineQR.jpg" alt="LineQR" class="d-flex justify-content-center" style="width: 200px; height: 200px;">
</div>
<hr style="border-color: white;">
<div class="font-white">
  <i class="bi bi-facebook fs-3x">&nbsp;&nbsp;&nbsp;</i>
  Facebook
</div>
<br>
<div class="d-flex justify-content-center">
  <iframe
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FURLPREENGAM&tabs=timeline&width=400&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=490559329913376"
    width="400" height="180" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div> -->