.avatar-container {
    position: relative;
    width: fit-content;
}

.form-control-solid.custom-fill-mode.form-container {
    width: 227.333334px; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 35px;
  }

.box-shadow-avatar{
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.image-container {
    height: 100px;
    width: 100px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px 20px #6c93001a;
}

.icon-wrapper {
    position: absolute;
    height: 25px;
    width: 25px;
    padding: .35rem;
    background-color:#2962FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 65%;
    z-index: 2;
    cursor: pointer;

    &:hover {
        transition: all .25s;
        background-color: darken(#2962FF, 15%);
    }

    .icon {
        color: white;
    }
    mat-icon {
        font-size: 16px; /* ปรับขนาดของ icon ให้เหมาะสม */
        transform: translateY(6px);
        
      }

    label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    input[type='file'] {
        display: none;
    }
}

.custom-fill-mode {
    background: #F9F9F9;
    border-color: #e6e6e6;
  }
  
.radio-border {
    border-color: #000000;
}

input[type=radio] {
    width: 25px;
    height: 25px;
  }
  
.custom-textbox {
    width: 300px; /* ปรับความกว้างตามที่คุณต้องการ */
    height: 40px; /* ปรับความสูงตามที่คุณต้องการ */
  }

  /* ปรับความสูงของ Kendo Textbox เล็กลง */
kendo-textbox {

    font-size: 14px; /* ปรับขนาดตัวอักษร */
    padding: 8px; /* กำหนดระยะห่างภายใน TextBox */
    height: 20px; /* ปรับความสูงของ TextBox */
    border: 1px solid #ccc; /* กำหนดสีขอบ */
    border-radius: 3px; /* กำหนดขอบมนขอบของ TextBox */
  }


// body {
//     background: whitesmoke;
//     font-family: 'Open Sans', sans-serif;
// }

// .container {
//     max-width: 960px;
//     margin: 30px auto;
//     padding: 20px;
// }

// h1 {
//     font-size: 20px;
//     text-align: center;
//     margin: 20px 0 20px;
//     small {
//         display: block;
//         font-size: 15px;
//         padding-top: 8px;
//         color: gray;
//     }
// }

// .avatar-upload {
//     position: relative;
//     max-width: 205px;
//     margin: 50px auto;
//     .avatar-edit {
//         position: absolute;
//         right: 12px;
//         z-index: 1;
//         top: 10px;
//         input {
//             display: none;
//             + label {
//                 display: inline-block;
//                 width: 34px;
//                 height: 34px;
//                 margin-bottom: 0;
//                 border-radius: 100%;
//                 background: #FFFFFF;
//                 border: 1px solid transparent;
//                 box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
//                 cursor: pointer;
//                 font-weight: normal;
//                 transition: all .2s ease-in-out;
//                 &:hover {
//                     background: #f1f1f1;
//                     border-color: #d6d6d6;
//                 }
//                 &:after {
//                     content: "\f040";
//                     font-family: 'FontAwesome';
//                     color: #757575;
//                     position: absolute;
//                     top: 10px;
//                     left: 0;
//                     right: 0;
//                     text-align: center;
//                     margin: auto;
//                 }
//             }
//         }
//     }
//     .avatar-preview {
//         width: 150px;
//         height: 150px;
//         position: relative;
//         border-radius: 100%;
//         border: 6px solid #F8F8F8;
//         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
//         > div {
//             width: 100%;
//             height: 100%;
//             border-radius: 100%;
//             background-size: cover;
//             background-repeat: no-repeat;
//             background-position: center;
//         }
//     }
// }