<div class="background-container">
  <img src="./assets/media/patterns/PreengamHome.jpg" alt="Background Image" class="background-image">
</div>
<h1 class="text-white">หอพัก</h1>
<br><br><br><br><br><br><br><br>
<div class="row">
  <div class="col-2">
    <div class="card team-card" style="padding-top: 0%; height: 280px;">
      <br><br>
      <i class="bi bi-building fs-3x" style="padding-left: 65px; padding-top: 50px;">&nbsp;&nbsp;&nbsp;</i>
      <div class="font-white" style="padding-top: 20px; color: white;">ประเภทห้อง</div>
    </div>
  </div>

  <div class="col-10">
    <div class="card shadow team-card" style="padding-top: 0%; height: 280px;">
      <div class="row">
        <div class="col-6">
          <br>
          <h4 class=" font-white" style="color: black;">ห้องแอร์</h4>
          <div class="d-flex justify-content-center">
            <img alt="Logo" src="./assets/Image/Air2.jpg" class="logo-default h-200px w-300px">
          </div>
        </div>

        <div class="col-6">
          <br>
          <h4 class="font-white" style="color: black;">ห้องพัดลม</h4>
          <div class="d-flex justify-content-center">
            <img alt="Logo" src="./assets/Image/Fan.jpg" class="logo-default h-200px w-300px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card team-card">
  <div class="row">
    <div class="col-4">
      <br><br>
      <div class="font-white">
        <i class="bi bi-currency-exchange fs-3x">&nbsp;&nbsp;</i>
        อัตราค่าห้องรายเดือน
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-12">
          <br><br>
          <h4 class=" font-white">- ห้องแอร์ 3000 บาท/เดือน</h4>
          <h4 class="font-white">- ห้องพัดลม 2500 บาท/เดือน</h4>
          <br><br>
          <div class="font-white" style="padding-left: 50px;">
            *มีค่าเงินประกันแรกเข้าเพิ่มเติม 5,000 บาท เงื่อนไขการคืนเงินเป็นไปตามที่ระบุในสัญญาเช่า
          </div>
        </div>
      </div>
      <br>
    </div>

    <div class="col-1" style="padding-top: 10px;">
      <div class="vertical-line"></div>
    </div>

    <div class="col-3">
      <br><br>
      <div class="font-white">
        <i class="bi bi-receipt-cutoff fs-3x">&nbsp;&nbsp;&nbsp;</i>
        อัตราค่าสาธารณูปโภค
      </div>
      <br>
      <br>
      <div class="row d-flex align-items-center">
        <div class="col-1 d-flex justify-content-end">
          <i class="fa-solid fa-faucet-drip fs-5x"></i>
        </div>
        <div class="col-11 d-flex justify-content-between">
          <h4 class="font-white">อัตราค่าน้ำประปา หน่วยละ 26 บาท</h4>
        </div>
      </div>
      <br><br>

      <div class="row d-flex align-items-center">
        <div class="col-1 d-flex justify-content-end">
          <i class="fa-solid fa-bolt fs-5x"></i>
        </div>
        <div class="col-11 d-flex justify-content-between">
          <h4 class="font-white">อัตราค่าไฟฟ้า หน่วยละ 6.5 บาท</h4>
        </div>
      </div>
    </div>

    <div class="col-1" style="padding-top: 10px;">
      <div class="vertical-line"></div>
    </div>

    <div class="col-3">
      <br><br>
      <span class="font-white" style="padding-right: 50px;">
        <i class="bi bi-shield-shaded fs-3x">&nbsp;&nbsp;&nbsp;</i>
        สิ่งอำนวยความสะดวก
      </span>
      <br>
      <div class="row d-flex align-items-center">
        <h4 class="text-white1">- กล้องวงจรปิด&nbsp;&nbsp;<i class="bi bi-camera-video fs-2x"></i></h4>
        <h4 class="text-white1">- ระบบคีย์การ์ด&nbsp;&nbsp;<i class="fa-regular fa-address-card fs-2x"></i></h4>
        <h4 class="text-white1">- Free Wi-Fi&nbsp;&nbsp;<i class="bi bi-wifi fs-2x"></i></h4>
        <h4 class="text-white1">- เครื่องซักผ้าหยอดเหรียญ&nbsp;&nbsp;<i class="bi bi-window-fullscreen fs-2x"></i></h4>
        <h4 class="text-white1">- ที่จอดรถสะดวก&nbsp;&nbsp;<i class="fa-solid fa-square-parking fs-2x"></i></h4>
    </div>
    </div>
  </div>
</div>








