<div class="py-3 px-6">
  <div class="row">
    <!-- Picture -->
    <div
      class="col-md-2 avatar-container image-container box-shadow-avatar pb-3"
      [ngStyle]="{ backgroundImage: 'url(' + imgUrl + ')' }"
    ></div>
    <ng-template #placeholder>
      <div class="image-container avatar-placeholder"></div>
    </ng-template>
    <!-- Picture End-->
    <div class="col-md-7 fs-6 fw-bold py-1">
      Internship Programer / นักศึกษาฝึกงานโปรแกรมเมอร์ <br />
      Soft Square International Co., Ltd. (ปทุมธานี) <br />
      ปทุมธานี <br />
      ทุนการศึกษา 20,000 บาท
    </div>
    <div class="col-md-3 fw-bold">
      นักศึกษาระดับปริญาตรีชั้นปีที่ 3 หรือ 4 ด้าน CS <br />
      พัฒนาและออกแบบระบบ <br />
      Onsite
    </div>
    <button class="btn-icon">
      <i class="fa fa-solid fa-chevron-down right-icon d-flex justify-content-end"></i>
    </button>
    <div>
      
    </div>
  </div>
</div>

<!--
<div>
  <div class="row">
    <div class="avatar-container col-md-4">
      <div  class="image-container box-shadow-avatar pb-3"
        [ngStyle]="{backgroundImage: 'url(' + imgUrl + ')'}">
      </div>
      <ng-template #placeholder>
        <div class="image-container avatar-placeholder">
        </div>
      </ng-template>
      
  </div>
</div>
-->
<!--

<div class="card-header align-items-center border-0 mt-4">
  <h3 class="card-title align-items-start flex-column">
  </h3>
  <div class="card-toolbar">
    
    
  
  </div>
</div>

<div class="card-body pt-3">

  <div class="d-flex align-items-sm-center mb-7">

    <div class="symbol symbol-60px symbol-2by3 me-4">
      <div
        class="symbol-label"
        [style.background-image]="
          'url(./assets/media/stock/600x400/img-20.jpg)'
        "
      ></div>
    </div>


    <div class="d-flex flex-row-fluid flex-wrap align-items-center">
      <div class="flex-grow-1 me-2">
        <a class="text-gray-800 fw-bolder fw-bold fs-6">
          InternShip
        </a>
        <span class="text-muted fw-bold d-block pt-1">Size: 87KB</span>
      </div>
      <span class="fs-8 fw-bolder my-2"
        >Approved</span
      >
    </div>

  </div>
-->
