.custom-fill-mode {
  background: #F9F9F9;
  border-color: #000000;
  border-width: 1px 1px 1px 1px;
  overflow: auto;
  
}
.k-textarea {
  display: flex;
  align-items: flex-start;
}

::ng-deep .textarea {
  ::ng-deep  .k-input-md .k-input-inner, .k-picker-md .k-input-inner
  {
    height: 308px;
  }
  
}

