<div class="card bg-white p-3 mb-4 shadow team-card " style="padding-top: 0%;">
  <br>
  <span class="head-font">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-speedometer2 fs-1"
      style="color: black;"></i>&nbsp;&nbsp;
    แดชบอร์ด</span>
  <br>
</div>
<br>

<div class="row">
  <div class="col-6">
    <div class="card bg-white p-3 mb-4 shadow team-card" style="padding-top: 0%; height: 380px;">
      <div class="example-config">
        <div class="col-sm example-col">
         <h2>&nbsp;&nbsp;&nbsp;&nbsp;การชำระเงิน</h2>

          <!-- <label class="k-radio-label mr-3">
            <input kendoRadioButton type="radio" name="align" value="circle" [(ngModel)]="labelAlign" />
            Circle
          </label>

          <label class="k-radio-label">
            <input kendoRadioButton type="radio" name="align" value="column" [(ngModel)]="labelAlign" />
            Column
          </label> -->
        </div>
      </div>

      <kendo-chart style="height: 300px;" [transitions]="false">
        <kendo-chart-series>
          <kendo-chart-series-item type="pie" [data]="data" categoryField="kind" field="share" [autoFit]="true">
            <kendo-chart-series-item-labels [align]="labelAlign" color="#000" [content]="labelContent">
            </kendo-chart-series-item-labels>
          </kendo-chart-series-item>
        </kendo-chart-series>
        <kendo-chart-legend [visible]="false"></kendo-chart-legend>
      </kendo-chart>

    </div>

  </div>

  <div class="col-6">
    <div class="card bg-white p-3 mb-4 shadow team-card" style="padding-top: 0%;">
      <h2> &nbsp;&nbsp;&nbsp;&nbsp;การใช้งาน</h2><br>
      <div class="d-flex flex-wrap flex-stack">
        <div class="d-flex flex-column flex-grow-1 pe-8">
          <div class="d-flex flex-wrap " style="padding-left: 80px;">
           
            <div class="row">
              <div class="col-12">
                <div class="border border-gray-600 border-dashed rounded min-w-400px py-6 px-10">
                  <div class="d-flex justify-content-center">
                    <div class="d-flex align-items-center">
                     
                      <div style="font-size: 48px;">23</div>
                    </div>
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                    <div class="fw-bold fs-6 text-gray-400" 
                    style="padding-bottom: 10px; padding-top: 5px;">กำลังใช้งาน</div>
                    &nbsp;&nbsp;&nbsp;
                    <i class="bi bi-circle-fill fs-1" style="color: green;"> </i>
                  </div>
                </div>
              </div>

              <!-- <div class="col-6">
                <div class="border border-gray-600 border-dashed rounded min-w-200px py-6 px-10">
                  <div class="d-flex justify-content-center">
                   
                    <div class="d-flex align-items-center">
                      <div style="font-size: 48px;">7</div>
                    </div>
                  </div>
                  <br>  
                  <div class="d-flex justify-content-center">
                    <div class="fw-bold fs-6 text-gray-400" 
                    style="padding-bottom: 10px; padding-top: 5px;">ว่าง</div>
                    &nbsp;&nbsp;&nbsp;
                    <i class="bi bi-circle-fill fs-1" style="color: red;"> </i>
                  </div>
                </div>

              </div> -->
          
            </div>
   
            <div class="row">
              <!-- <div class="col-6">
                <br>
                <div class="border border-gray-600 border-dashed rounded min-w-200px py-6 px-10">
                  <div class="d-flex justify-content-center">
                    <div class="d-flex align-items-center">
                     
                      <div style="font-size: 48px;">23</div>
                    </div>
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                    <div class="fw-bold fs-6 text-gray-400" 
                    style="padding-bottom: 10px; padding-top: 5px;">กำลังใช้งาน</div>
                    &nbsp;&nbsp;&nbsp;
                    <i class="bi bi-circle-fill fs-1" style="color: green;"> </i>
                  </div>
                </div>
              </div> -->

              <div class="col-12">
                <br>
                <div class="border border-gray-600 border-dashed rounded min-w-400px py-6 px-10">
                  <div class="d-flex justify-content-center">
                   
                    <div class="d-flex align-items-center">
                      <div style="font-size: 48px;">7</div>
                    </div>
                  </div>
                  <br>  
                  <div class="d-flex justify-content-center">
                    <div class="fw-bold fs-6 text-gray-400" 
                    style="padding-bottom: 10px; padding-top: 5px;">ว่าง</div>
                    &nbsp;&nbsp;&nbsp;
                    <i class="bi bi-circle-fill fs-1" style="color: red;"> </i>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
</div>

<!-- ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'] -->
<div class="card bg-white p-3 mb-4 shadow team-card" style="padding-top: 0%;">
  <!-- <h2>&nbsp;&nbsp;&nbsp;&nbsp;ค่าน้ำค่าไฟ</h2> -->
  <kendo-chart>
    <kendo-chart-title text="ค่าน้ำค่าไฟ"></kendo-chart-title>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item
       
        [categories]="['1', '2', '3.', '4', '5', '6', '7', '8', '9', '10', '11', '12','13','14','15']"
        [title]="{ text: 'ห้อง' }"
      >
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="line"
        [data]="[123, 276, 310, 212, 240, 156, 98,245,432,125,324,233,234,123,211]"
        name="ค่าไฟ"
      >
      </kendo-chart-series-item>
      <kendo-chart-series-item
        type="line"
        [data]="[165, 210, 287, 144, 190, 167, 212,123,125,145,167,112,154,165,128]"
        name="ค่าน้ำ"
      >
      </kendo-chart-series-item>
      <!-- <kendo-chart-series-item
        type="line"
        [data]="[56, 140, 195, 46, 123, 78, 95]"
      >
      </kendo-chart-series-item> -->
    </kendo-chart-series>
  </kendo-chart>
</div>

