<ng-container *ngIf="user$ | async as _user">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">
        <img src="./assets/media/logos/fish.png" alt="Metronic logo" />
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ _user.firstname }} {{ _user.lastname }}
          <!-- <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2"
            >Pro</span
          > -->
        </div>
        <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
          {{ _user.username }}
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>

  <!-- admin -->
  <div class="menu-item px-5">
    <a routerLink="/master/register" class="menu-link px-5">
      <i class="bi bi-credit-card-2-front fs-1"></i>&nbsp;&nbsp;
      ลงทะเบียน
    </a>
  </div>

  <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer" routerLink="/crafted/pages/profile">
      <span class="menu-text"><i class="bi bi-people fs-1"></i>&nbsp;&nbsp;ผู้เช่า</span>
    </a>
  </div>

  <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer" routerLink="/master/bill-admin">
      <span class="menu-title"><i class="bi bi-receipt-cutoff fs-1"></i>&nbsp;&nbsp;บิลค่าเช่า</span>
    </a>
  </div>

  <div class="menu-item px-5">
    <a routerLink="/master/dashboard-admin" class="menu-link px-5">
      <i class="bi bi-speedometer2 fs-1"></i>&nbsp;&nbsp;
      แดชบอร์ด
    </a>
  </div>
้<hr>
  <!-- user -->
  <div class="menu-item px-5">
    <a routerLink="/master/dashboard-user" class="menu-link px-5">
      <i class="bi bi-speedometer2 fs-1"></i>&nbsp;&nbsp;
      แดชบอร์ด
    </a>
  </div>
  
  <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer" routerLink="/master/bill-user">
      <span class="menu-title"><i class="bi bi-receipt-cutoff fs-1"></i>&nbsp;&nbsp;บิลค่าเช่า</span>
    </a>
  </div>

  <div class="menu-item px-5">
    <a class="menu-link px-5 cursor-pointer" routerLink="/master/bill-history">
      <span class="menu-text"><i class="fa-solid fa-clock-rotate-left fs-1"></i>&nbsp;&nbsp;ประวัติการชำระเงิน</span>
    </a>
  </div>


  <div class="separator my-2"></div>

  <!-- <div
class="menu-item px-5"
data-kt-menu-trigger="hover"
data-kt-menu-placement="left-start"
data-kt-menu-flip="bottom"
>
<a routerLink="/crafted/account/settings" class="menu-link px-5 cursor-pointer">
  <i class="bi bi-gear fs-1"></i>&nbsp;&nbsp;
  <span class="menu-title">การตั้งค่า</span>
  <span class="menu-arrow"></span>
</a>

<div class="menu-sub menu-sub-dropdown w-175px py-4">
  <div class="menu-item px-3">
    <a routerLink="/master/profile" 
    class="menu-link px-5 cursor-pointer" 
    placement="top-start" 
    ngbTooltip="Coming soon"> 
    <i class="bi bi-person-circle fs-1"></i>&nbsp;&nbsp;ข้อมูลส่วนตัว</a>
  </div>

  <div class="menu-item px-3">
    <a routerLink="/master/password-setting" 
    class="menu-link px-5 cursor-pointer" 
    placement="top-start" 
    ngbTooltip="Coming soon">
    <i class="bi bi-shield-lock fs-1"></i>&nbsp;&nbsp;เปลี่ยนรหัสผ่าน</a>
  </div>
</div>
</div> -->

  <div class="menu-item px-5 my-1">
    <a routerLink="/master/profile" class="menu-link px-5">
      <i class="bi bi-gear fs-1"></i>&nbsp;&nbsp;
      การตั้งค่า
    </a>
  </div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer"> 
      <i class="bi bi-box-arrow-left fs-1"></i>&nbsp;&nbsp;
      Sign Out </a>
  </div>
</ng-container>


