<div class="card bg-white p-3 mb-4 shadow team-card" style="padding-top: 0%;">
    <div class="row">
        <div class="col-6">
            <br>
            <span class="head-font">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-shield-lock fs-1"
                    style="color: black;"></i>&nbsp;&nbsp;
                รหัสผ่าน</span>
        </div>

        <div class="col-6">
            <div class="card-header cursor-pointer">

                <div class="card-footer d-flex justify-content-end py-6 px-9" style="width: 446.5px;">
                    <button type="button" class="btn btn-primary" [disabled]="isLoading || saveDisable"
                        (click)="savePassword()">

                        <ng-container *ngIf="!isLoading">บันทึก</ng-container>
                        <ng-container *ngIf="isLoading">
                            <span class="indicator-progress" [style.display]="'block'">
                                {{"ALERT.BUTTON.WAIT" | translate}}
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </ng-container>
                    </button>


                </div>
                <a href="/#/master/profile" class="btn btn-secondary align-self-center">
                    ยกเลิก
                </a>

            </div>
        </div>
    </div>

    <div class="card-body p-9">
        <ng-container *ngIf="user$ | async as _user">
            <div class="row mb-7">
                <div class="col-lg-3">
                    <span class="col-lg-3 form-label">Username</span>
                </div>
                <div class="col-lg-3">
                    <span class="fw-bolder fs-6 fw-bold text-muted"> {{ _user.username }} </span>
                </div>
            </div>

        </ng-container>

        <ng-container *ngIf="newPro as _user">
            <!-- <div class="form-group row">
                <div class="col-6" style="width: 284.5px; ">
                    <br>
                    <label for="exampleFormControlInput1" class="col-lg-3 required form-label"
                        style="width: 119.5px;">Password :</label>
                </div>

                <div class="col-6">
                    <br>
                    <kendo-textbox class=" form-control form-container" placeholder="กรุณากรอก Password"
                        [(ngModel)]="_user.password" [maxlength]="80" [ngModelOptions]="{standalone: true}" type="password">
                    </kendo-textbox>
                </div>

                <br>
            </div> -->

            <div class="form-group row">
                <div class="col-6" style="width: 284.5px;">
                    <br>
                    <label for="exampleFormControlInput1" class="col-lg-3 required form-label"
                        style="width: 119.5px;">Password :</label>
                </div>

                <div class="col-6">
                    <br>
                    <div class="input-group">
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control form-container"
                            placeholder="กรุณากรอก Password" [(ngModel)]="_user.password" [maxlength]="80"
                            [ngModelOptions]="{standalone: true}">

                        <button class="btn btn-secondary" type="button" (click)="togglePasswordVisibility()">
                            <i class="bi bi-3x" [ngClass]="{'bi-eye': !showPassword, 'bi-eye-slash': showPassword}"></i>
                        </button>
                    </div>

                </div>

                <br>
            </div>

            <div class="form-group row">
                <div class="col-6" style="width: 284.5px; ">
                    <br>
                    <label for="exampleFormControlInput1" class="col-lg-3 required form-label"
                        style="width: 150px;">Confirm Password :</label>
                </div>

                <div class="col-6">
                    <br>
                    <!-- <kendo-textbox class=" form-control form-container" placeholder="Confirm Password"
                        [(ngModel)]="_user.confirmPassword" [maxlength]="80" [ngModelOptions]="{standalone: true}">
                    </kendo-textbox> -->
                    <div class="input-group">
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control form-container"
                            placeholder="กรุณากรอก Password" [(ngModel)]="_user.confirmPassword" [maxlength]="80"
                            [ngModelOptions]="{standalone: true}">

                        <button class="btn btn-secondary" type="button" (click)="togglePasswordVisibility()">
                            <i class="bi bi-3x" [ngClass]="{'bi-eye': !showPassword, 'bi-eye-slash': showPassword}"></i>
                        </button>
                    </div>
                    <br><br><br><br>
                </div>
                <br>
            </div>

        </ng-container>

        <!-- <div class="row">
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button 
                  type="button"
                  class="btn btn-success"
                  [disabled]="isLoading || saveDisable"
                  (click)="savePassword()"
                  >
                  
                  <ng-container *ngIf="!isLoading">บันทึก</ng-container>
                  <ng-container *ngIf="isLoading" >
                    <span class="indicator-progress" [style.display]="'block'">
                      {{"ALERT.BUTTON.WAIT" | translate}}
                      <span 
                        class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                  </ng-container>
                </button>
                
        
              </div>
          </div> -->
    </div>
</div>