<div class="card bg-white p-3 mb-4 shadow team-card" style="padding-top: 0%;">
    <br>
    <span class="head-font">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-receipt-cutoff fs-1"
            style="color: black;"></i>&nbsp;&nbsp;
            บิลค่าเช่า</span>
    <br>
    <hr>
    <div class="col d-flex justify-content-end">
      <button class="btn btn-success btn-sm me-4">2565</button>
      <button class="btn btn-success btn-sm me-4">2566</button>
      <button class="btn btn-success btn-sm me-4">2567</button>
    </div>
    <br>
    <div class="d-flex justify-content-center">
    <table border="1" style="background-color: white;">
        <thead>
          <tr>
            <th>เดือน</th>
            <th>หมายเหตุ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>มกราคม</td>
            <td [routerLink]="['/master/monthly-bill-details']" style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>กุมภาพันธ์</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>มีนาคม</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>เมษายน</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>พฤษภาคม</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>มิถุนายน</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>กรกฎาคม</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>สิงหาคม</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>กันยายน</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>ตุลาคม</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>พฤศจิกายน</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
          <tr>
            <td>ธันวาคม</td>
            <td style="cursor: pointer;" class="td3">ดูรายละเอียด</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br>
</div>
