
<!-- หน้าแรก -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard"
  ><span class="menu-title">หน้าแรก</span></a>
</div>

<!-- หอพัก -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/builder"
  ><span class="menu-title">หอพัก</span></a
  >
</div>

<!-- คำถามที่พบบ่อย -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/question"
  ><span class="menu-title">คำถามที่พบบ่อย</span></a
  >
</div>

<!-- ติดต่อ -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/contact"
  ><span class="menu-title">ติดต่อ</span></a
  >
</div>

<div class="menu-item me-lg-1">
  <span class="menu-title" style="color: rgb(221, 215, 215); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">|</span>
</div>



